/** || Imports */
@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/lato-regular.ttf");
}

@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/merriweather-regular.ttf");
}

/** || Custom variables */
:root {
    /** Base colors */
    --clr-dark-a0: hsl(0,0%,0%);
    --clr-light-a0: white;

    /** Theme primary colors */
    --clr-primary-a0: #76b507;
    --clr-primary-a10: #87bd36;
    --clr-primary-a20: #97c652;
    --clr-primary-a30: #a7ce6c;
    --clr-primary-a40: #b6d685;
    --clr-primary-a50: #c5de9d;
    --clr-primary-a60: color(from green srgb r g b / 0.5);

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1c2016;
    --clr-surface-tonal-a10: #31352b;
    --clr-surface-tonal-a20: #474b42;
    --clr-surface-tonal-a30: #5f625a;
    --clr-surface-tonal-a40: #777a73;
    --clr-surface-tonal-a50: #91938d;

    --clr-mix: color-mix(in srgb, plum, #f00);

    /** Opacity */
    --slight-transparent: rgba(0,0,0,0.2);

    /** Sizing */
    --main-width: 67.5rem;
    --body-row-gap: 1rem;
    --main-gap: 1rem;
    --media-gap: 1rem;
    --h1-size: 3em;
    --h2-size: 2em;
    --h3-size: 1.5em;
    --p-size: 1em;
    --mn-font-size: 16pt;
    --button-width: 75px;
    --button-height: 50px;

    /** Box Model */
    --default-margin: 1rem;
    --default-padding: 1rem;
    --form-padding: 1rem;
    --mn-margin: 0.5rem;
    --mn-padding: 0.5rem;
    --border-size: 2px;
    --border-color: var(--clr-primary-a50);
    --border-style: solid;
    --border-form-style: dashed;
    --border-radius: 15px;
    --form-border-color: var(--clr-primary-a10);
}

/** || CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

br, hr {
    display: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul, ol {
    list-style-position: inside;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/** || Container styling */
body {
    width: 100%;
    max-width: 100dvw;
    min-width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    row-gap: var(--body-row-gap);
    justify-items: center;
    align-items: center;
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
    line-height: 1.5;
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif
}

main {
    padding: var(--default-padding);
    width: 100%;
    max-width: var(--main-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--main-gap);
    background-color: var(--clr-surface-a10);
    border-radius: var(--border-radius);
}

/** || Meeting notes styling */
meeting-note {
    padding: var(--mn-padding);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: var(--mn-font-size);
    border: var(--border-size) var(--border-color) var(--border-style);
    border-radius: var(--border-radius);
}

div[class="meetingNotes"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.meetingNotes > section {
    padding: var(--default-padding);
}

meeting-note > hgroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

meeting-note > details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

meeting-note:has(details[open]) details {
    border: var(--border-size) var(--border-color) var(--border-style);
    background-color: var(--clr-surface-a30);
}

/** || Media styling */
section.meetingMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--media-gap);
}

figure {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meetingMedia > h3 ~ * {
    width: 100%;
    max-width: 12in;
    height: auto;
    max-height: 100%;
}

img, video {
    display: block;
    align-self: center;
    justify-self: center;
}

img + figcaption {
    margin-top: var(--default-margin);
    color: var(--clr-primary-a0);
    font-size: var(--p-size);
}

/** || Header Styling */
header {
    position: relative;
    padding-top: var(--default-padding);
    padding-right: var(--default-padding);
    padding-bottom: var(--default-padding);
    padding-left: var(--default-padding);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--clr-surface-a20);
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    color: var(--clr-primary-a0);
    font-size: var(--p-size);
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

/** || Text styling */
h1, h2, h3 {
    font-family: "Lato", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, a {
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif
}

h1 {
    margin: auto;
    font-size: var(--h1-size);
    text-align: center;
}

h2 {
    font-size: var(--h2-size);
    text-decoration: underline;
}

h3 {
    display: block;
    font-size: var(--h3-size);
    text-decoration: underline;
}

p, li {
    font-size: var(--p-size);
}

/** || Form styling */
.formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    & fieldset {
        margin-left: auto;
        margin-right: auto;
        padding: var(--form-padding);
        border: var(--border-size) var(--border-color) var(--border-form-style);
        border-radius:  var(--border-radius);
    }
}

#gameInfo  {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto 1fr;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

input, textarea {
    padding: var(--default-padding);
    background-color: var(--clr-surface-a30);
    border: var(--border-size) var(--form-border-color) var(--border-style);
    color: var(--clr-light-a0);
    width: 100%;
    max-height: 100%;
}

input:user-invalid {
    border: 3px var(--clr-mix) solid;
}

input:active, textarea:active {
    background-color: var(--clr-surface-a20);
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--clr-surface-a30);
    color: var(--clr-primary-a30);
    border: var(--border-size) var(--border-color) var(--border-style);
    border-radius: var(--border-radius);
}

button:active {
    color: var(--clr-primary-a0);
}

button:hover {
    background-color: var(--clr-surface-a40);
}

/** || Footer styling */
footer a {
    padding: 1rem;
    background-color: var(--slight-transparent);
    bottom: 10px;
    right: 10px;
    position: fixed;
    border-radius: var(--border-radius);
}

/** || Phone view */
@media screen and (max-width: 768px) {
    #gameInfo {
        display: grid;
        grid-template-columns: auto 1fr;
        row-gap: 1rem;
    }
}